@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
:root {
    --cor-fundo: #161853;
    --cor-letra: #99FEFF;
    --cor-fundo-form: #FAEDF0;
    --cor-letra-form: #B983FF;
}

body {
    font-size: 16px;
    max-width: 30rem;
    margin: 0 auto;
    font-family: 'Courgette', cursive;
    background-color: var(--cor-fundo);
    color: var(--cor-letra);
}

h1 {
    font-family: 'Courgette', cursive;
}

button,
input {
    font-family: inherit;
    background-color: var(--cor-fundo-form);
    color: var(--cor-letra-form);
    border: 1px solid;
}

button,
input {
    outline: none;
    padding: 0.5em;
    border-radius: 5px;
}

button {
    cursor: pointer;
}

button:hover {
    box-shadow: 5px 5px 0 var(--cor-letra);
}

form {
    display: flex;
    flex-direction: column;
}

form>* {
    margin: 0.25em;
}

form input {
    font-size: 1.25em;
}

form button {
    padding: 0.8em;
}

#mensagem {
    margin: 1em;
    text-align: center;
}

#mensagem>* {
    text-align: center;
}